$enable-column-borders: false;

$white: rgb(250,250,250);
$black: #494847;
$neutral-dark: #605e5d;
$neutral-darker: #605e5d;
$neutral-light: #eaeaea;
$neutral-lighter: #f4f4f4;
$neutral-lighter-alt: #f8f8f8;
$neutral-primary: #323130;
$neutral-primary-alt: #8d8b8a;
$neutral-quaternary-alt: #dadada;
$neutral-secondary: #a3a2a0;
$neutral-tertiary: #bab8b7;
$neutral-tertiary-alt: #c8c8c8;
$theme-dark: #005ba1;
$theme-dark-alt: #006cbe;
$theme-darker: #004377;
$theme-light: #a9d3f2;
$theme-lighter: #d0e7f8;
$theme-lighter-alt: #f3f9fd;
$theme-primary: #0078d4;
$theme-secondary: #1a86d9;
$theme-tertiary: #5ca9e5;

$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);