@import 'variables';

:root {
  --size_base: 5px;
  --font-size_base: 16px;
  --color-primary_base: #{$theme-primary};
  --root__background: #{$neutral-tertiary};
  --root__color: #{$black};
  --btn__background: #{$theme-primary};
  --btn__color: #{$white};
  --btn__border-color: #{$theme-dark};
  --btn__background_hover: #{$theme-dark-alt};
  --btn__border-color_hover: #{$theme-darker};
  --btn__color_hover: #{$white};
  --btn-link__color: var(--color-primary_base);
  --calendar__background: #{$white};
  --calendar__color: #{$black};
  --calendar__size: auto;
  --day__background: #{$white};
  --day__background_past: #{$neutral-lighter};
  --day__border-color: #{$neutral-secondary};
  --day__border-color_hover: #{$neutral-tertiary};
  --day__color: #{$neutral-dark};
  --day__color_is-selected: var(--color-primary_base);
  --day__color_in-month: #{$neutral-darker};
  --day__color_is-today: #{$black};
  --day__size: calc(30 * var(--size_base));
  --day-balance__background: #{$neutral-lighter};
  --day-balance__color: #{$neutral-darker};
  --event-form__size: calc(60 * var(--size_base));
  --event-form__background-color: #{$neutral-light};
  --event-form__border-color: #{$neutral-tertiary};
  --event-form__color: #{$black};
  --event-list__background: #{$neutral-lighter};
  --event-list__color: #{$neutral-dark};
  --event-list__size: calc(80 * var(--size_base));
  --input__background: #{$white};
  --input__border-color: #{$neutral-dark};
  --input__border-color_hover: #{$neutral-darker};
}

html,
body {
  background-color: var(--root__background, #{$white});
  box-sizing: border-box;
  font-size: var(--font-size_base);
}

body {
  color: var(--root__color, #{$black});
  display: grid;
  font-family: system-ui, sans-serif;
  height: 100vh;
  line-height: 1.5;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.btn {
  align-items: center;
  appearance: none;
  background-color: var(--btn__background);
  border: 1px solid var(--btn__border-color);
  border-radius: 0.125em;
  color: var(--btn__color);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.825rem;
  font-weight: 500;
  outline: none;
  padding: 0.425em 0.666em;
  transition: background-color 0.425s ease-out, border-color 0.425s ease-out, color 0.425s ease-out;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--btn__background_hover);
    border-color: var(--btn__border-color_hover);
    color: var(--btn__color_hover);
  }

  &--link {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--btn-link__color);
    padding: 0;
  }
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.5s #{$ease-out-back};
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translate(-50%, 100%);
}

.slide-up-enter-to,
.slide-up-leave {
  transform: translate(-50%, -50%);
}