@import 'variables';

:root {
  --size_base: 5px;
  --font-size_base: 16px;
  --color-primary_base: #{$theme-primary};
  --color-primary_dark: #{$theme-dark};
  --color-primary_darker: #{$theme-darker};
  --root__background: #{$neutral-tertiary};
  --root__color: #{$black};
  --btn__background: #{$theme-primary};
  --btn__color: #{$white};
  --btn__border-color: #{$theme-dark};
  --btn__background_hover: #{$theme-dark-alt};
  --btn__border-color_hover: #{$theme-darker};
  --btn__color_hover: #{$white};
  --btn__min-width: calc(8 * var(--size_base));
  --btn-link__color: var(--color-primary_base);
  --calendar__background: #{$white};
  --calendar__color: #{$black};
  --calendar__size: auto;
  --day__background:#{$neutral-lighter}; 
  --day__background_future: #{$white};
  --day__border-color: #{$neutral-secondary};
  --day__border-color_hover: #{$neutral-tertiary};
  --day__color: #{$neutral-dark};
  --day__color_is-selected: #{$theme-primary};
  --day__color_in-month: #{$neutral-darker};
  --day__color_is-today: #{$theme-primary};
  --day__size: calc(30 * var(--size_base));
  --day-balance__background: #{$neutral-lighter};
  --day-balance__color: #{$neutral-darker};
  --event-form__background-color: #{$neutral-light};
  --event-form__border-color: #{$neutral-tertiary};
  --event-form__color: #{$black};
  --event-form-controls__background-color: #{$theme-light};
  --event-list__background: #{$neutral-lighter};
  --event-list__color: #{$neutral-dark};
  --input__background: #{$white};
  --input__border-color: #{$neutral-dark};
  --input__border-color_hover: #{$neutral-darker};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary_base: #{$theme-lighter};
    --color-primary_dark: #{$theme-light};
    --color-primary_darker: #{$theme-dark-alt};
    --calendar__background: #{$neutral-darker};
    --calendar__color: #{$white};
    --day__background:#{$neutral-secondary}; 
    --day__background_future: #{$neutral-dark};
    --day-balance__background: #{$neutral-dark};
    --day-balance__color: #{$neutral-lighter};
    --day__color: #{$neutral-lighter-alt};
    --day__color_is-selected: #{$theme-light};
    --day__color_in-month: #{$neutral-light};
    --day__color_is-today: #{$theme-primary};
  }
}

html,
body {
  background-color: var(--root__background, #{$white});
  box-sizing: border-box;
  font-size: var(--font-size_base);
}

body {
  color: var(--root__color, #{$black});
  display: grid;
  font-family: system-ui, sans-serif;
  height: 100vh;
  line-height: 1.5;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.btn {
  align-items: center;
  appearance: none;
  background-color: var(--btn__background);
  border: 1px solid var(--btn__border-color);
  border-radius: 0.125em;
  color: var(--btn__color);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.825rem;
  font-weight: 500;
  height: 2rem;
  line-height: 2;
  min-width: var(--btn__min-width);
  outline: none;
  padding: 0 1rem;
  text-align: center;
  transition: background-color 0.425s ease-out, border-color 0.425s ease-out, color 0.425s ease-out;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--btn__background_hover);
    border-color: var(--btn__border-color_hover);
    color: var(--btn__color_hover);
  }

  &[disabled] {
    cursor: not-allowed;
    filter: opacity(0.9) grayscale(25%);
  }

  &--link {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--btn-link__color);
    padding: 0;
  }

  &--outline {
    background-color: transparent;
    border-color: currentColor;
    color: var(--btn__background);

    &:hover {
      background-color: rgba($white, 0.5);
      color: var(--btn__background_hover);
    }
  }

  & > svg:only-child {
    margin: 0 auto;
  }
}

///
/// Transitions
///

.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform 0.5s #{$ease-out-back};
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translate(-50%, 100%);
}

.slide-up-enter-to,
.slide-up-leave {
  transform: translate(-50%, -50%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}